[Unit]
Description=Rhasspy Desktop Satellite
After=network.target

[Service]
Type=idle
User=rhasspy-satellite
Group=rhasspy-satellite
ExecStart=/usr/local/bin/rhasspy-desktop-satellite
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
